<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> NAM Studio </title>
  <link rel="shortcut icon" type= "image/x-icon" href="/images/nam4x.png">
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/cart.css'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb81e2a038.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  
  <div class="container cart">
    
    
    <div class="row">
      <span class="col-4">ITEM</span>
      <span class="col-8">PRICE</span>
      
    </div>
    <div class="row cart-items">
      <div class="col 12">
        
        <% cart.products.forEach(product => { %>
         <div class="item">
          <div> <img src="/data/cws/<%=product.cw1%>" width="100px"> </div>
          <div> <%=product.name%> </div>
          <div class= "price"> <%=product.price%> </div>
          <div data-product-id="<%=product.id%>"> 
            <button class="remove btn btn-secondary" type="submit">Eliminar</button>
            </div>
        </div>
          <% })%>
        </div>
        </div>
      </div>
      <div class="total row ">
        <div class="col-4">
          TOTAL
        </div>
        <div id="total" class="col-2">
          <!-- Aca viene el total  -->
        </div>
        <div class="col-1">
          <button id="purchase" class="btn btn-secondary" type="submit">PAGAR</button>
        </div>
      </div>  
      
    </div>
  </div>
</div>


<%- include('./partials/footer.ejs') %> 

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascripts/updateCart.js"> </script>
<script src="/javascripts/removeFromCart.js"> </script>
<script src="/javascripts/purchase.js"> </script>
</body>
</html>
